.seccionpagina1{
    min-height: 500px;
    background-color: #310236;
    
}
.seccionpagina2{
    min-height: 500px;
    background-color: #e7d8e9;
    
}
.seccionprincipal{
    min-height: 500px;
    background-color: #e7d8e9;
    
}