*{
    padding: 0;
    margin: 0;
}
 body {
     background-color:#002050;
     background-repeat: no-repeat;
     background-attachment: fixed;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     min-width: 100vh;
     overflow-x:hidden;
 }
 footer{
     align-items: flex-end;
     text-align: center;
     
 }
 .card-img{
     min-height: 20em;
     min-width: 10em;
     border: 1px double white;
     
 }
 .card-img-profile{
     width:50%;
     height:50%;
     margin-top:-95px;
     margin-bottom:5px;
     border:5px solid;
 }
 

 .fb-seccion{
     min-height: 500px;
     
 }
 .fb-principal{
    min-height: 500px;
    background: transparent url("img/MarvelComicGenerationjpg.jpg");
    background-size: 100%;
    background-size: cover;
    color: #ddccaa;
    transition:all ease-out .5s;
    transform: scale(1);
    overflow: hidden;
}
.fb-principal:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition:all ease-in .5s;
    color: rgba(105,39,87,.2);
    overflow: hidden;
}  
.cobertura-principal{
    background-color: rgba(105,39,87,0.5);
    background-size: 100%;
    background-size: cover;
    min-height: 500px;
    transition:all ease-out .5s;
}
.cobertura-principal:hover {
    transition:all ease-in .5s;
    background-color: rgba(105,39,87,0.1);
    
    
}

 .fb-lista{
     min-height: 500px;
 }
 .fb-bgoscuro{
     background-color:#212121;
     color:#ffffff;

     min-height: 500px;
 }
 .fb-bglight{
     background-color: white;
     color:#504747;

     min-height: 500px;
 }
 .imglista{
     width: 10em;
     height: 10em;
     background-color: transparent;
     border:0;
 }
 .titulo{
     font-family: 'Titan One';
 }
 .bodyerror{
    background-image: "img/fondo_degradado.gif";

 }
 .botenviar{
    border: 0;
    color:white;
    padding: .5em;
    min-width: 8%;
 }
 .textbox{
     padding: .5em;
    
 }
 .containererror{
    padding-bottom:20%;
}

 @media only screen and (max-width: 576px){
    .containererror{
        padding-bottom:40%;
    }
    .textbox{
        padding: .5em;
        max-width: 75%;
    }
    .contenedor{

        min-height: 100%;

    }
 }
 .jumbotron-inicio{
    background: transparent url('img/fondo1.jpg') no-repeat top center;
    background-size: 100%;
    min-height: 500px;
    background-size: cover;
 }
